# игнорировать все файлы в каталоге helloWorld/out
out/

# игнорироввать файлы среды разработки
.idea/

# не обрабатывать файлы, имя которых заканчивается на и .data
*.data

# не обрабатывать файлы, имя которых заканчивается на и .data
*.iml
